
@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

a {
    text-decoration: none
}
ul {
    list-style: none;
}

.active {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
}
.navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        color: whitesmoke;
        display: flex;
        
}
.nav-links {
    display: flex;
    align-items: center;

}        
.nav-links li {
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('/files/images/phiasd.jpeg');
    background-position: bottom;       
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;


}

.header-content {
    margin-bottom: 150px;
    text-align: center;
    color: white;

}
.header-content h2 {
    font-size: 4vmin;
}


.line{
    width: 150px;
    height: 4px;
    background-color: aquamarine;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.ctn {
    padding: 8px 15px;
    background-color: orange ;
    border-radius: 30px;
    color: white;
}

@media only screen and (max-width:850px) {
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
}

